# Built artifacts
**/build/
/captures/

# Gradle
.gradle/
# /gradlew
# /gradlew.bat
# /gradle/wrapper/gradle-wrapper.jar
# /gradle/wrapper/gradle-wrapper.properties

# Android Studio / IntelliJ
*.iml
.idea/
*.ipr
*.iws
.navigation/

# Local configuration
local.properties

# OS related
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Kotlin
.kotlin/

# Secrets & Keys (Safety)
*.jks
*.keystore
*.p12
google-services.json

# Cache
.artifacts/
